$max : 100%;
$gray : #DADADA;
$p33: 33%;
$blue: rgba(24,144,255, 0.7);
$deepBlue: rgb(24,144,255);
$white: #F6F6F6;
$black: #000000;
$minHeight: 730px;
$minWidth: 1080px;
$grayBorder: 1px solid #EEEEEE;
$songImageWidth: 430px;
$z1e7: 1e7;
$z1e4: 1e4;
$z1e3: 1e3;
$shadow: 0 0 10px 0 rgb(10, 10, 10);

@mixin flex($direction: row , $justify: center , $align: center){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
