$max : 100%;
$gray : #DADADA;
$p33: 33%;
$blue: rgba(24,144,255, 0.7);
$deepBlue: rgb(24,144,255);
$white: #F6F6F6;
$black: #000000;
$minHeight: 730px;
$minWidth: 1080px;
$songImageWidth: 430px;
@mixin flex($direction: row , $justify: center , $align: center){
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
